.root {
    display: flex;
    flex-direction: column;
    margin: 5px;

    .top {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            transition: 0.3s;
        }
    }

    .dropdown {
        margin: 5px 15px;
        display: none;
        transition: 0.3s;

        .item {
            display: flex;
            cursor: pointer;

            p {
                margin-left: 10px;
            }
        }
    }

    .show {
        display: block;
        animation: show 0.3s linear;
        height: 100%;
        @keyframes show {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
