@import "./reset.scss";

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: var(--background);
    color: var(--text);
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

:root {
    --primary: #fe5f1e;
    --grey: rgb(61, 61, 61);
    --light-grey: rgb(146, 146, 146);
}

#root {
    padding: 0 10px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
