.wrapper {
    padding: 20px;

    text-align: center;

    h1 {
        font-size: 40px;
        color: var(--text)
    }

    h3 {
        color: var(--grey);
    }

    .root {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
