.root {
    display: flex;
    justify-content: center;
    gap: 5px;

    span {
        border: 1px solid transparent;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
}
