.root {
    display: flex;
    flex-direction: column;
    text-align: center;

    .listView {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .gridView {
        display: flex;
        flex-direction: column;
    }
}
