.root {
    border: 1px solid #111;
    width: 500px;

    h3 {
        text-align: center;
    }

    .filterTypes {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
