.root {
    width: 250px;
    padding: 0 15px 15px 0;
    border: 1px solid transparent;
    border-right: 2px solid grey;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        svg {
            width: 17px;
            height: 17px;
            cursor: pointer;
            fill: var(--text);
            transition: 0.3s;

            &:hover {
                fill: var(--primary);
            }
        }
    }

    h3 {
        text-align: center;
    }

    .filterTypes {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .reset {
        color: var(--text);
        text-align: right;
        // text-decoration: underline;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: var(--primary);
        }
    }
}
