.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;

    .slider {
        position: relative;
        width: 200px;

        &__track,
        &__range,
        &__left_value,
        &__right_value {
            position: absolute;
        }

        &__track,
        &__range {
            border-radius: 3px;
            height: 5px;
        }

        &__track {
            background-color: #ced4da;
            width: 100%;
            z-index: 1;
        }

        &__range {
            background-color: var(--primary);
            z-index: 2;
            max-width: 100%;
        }

        &__left_value,
        &__right_value {
            color: var(--text);
            margin-top: 20px;
        }

        &__left_value {
            left: 6px;
            width: 80px;
            border: 1px solid #111;
            padding: 5px;
            border-radius: 10px;
        }

        &__right_value {
            right: -4px;
            width: 80px;
            border: 1px solid #111;
            padding: 5px;
            border-radius: 10px;
        }
    }

    .thumb,
    .thumb::-webkit-slider-thumb {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
    }

    .thumb {
        pointer-events: none;
        position: absolute;
        height: 0;
        width: 200px;
        outline: none;

        &__zindex_3 {
            z-index: 3;
        }

        &__zindex_4 {
            z-index: 4;
        }

        &__zindex_5 {
            z-index: 5;
        }

        &::-webkit-slider-thumb {
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 0 1px 1px #ced4da;
            cursor: pointer;
            height: 18px;
            width: 18px;
            margin-top: 4px;
            pointer-events: all;
            position: relative;
            z-index: 5;
            border: 1px solid rgb(168, 168, 168);
        }

        &::-moz-range-thumb {
            background-color: var(--text);
            border: none;
            border-radius: 50%;
            box-shadow: 0 0 1px 1px #ced4da;
            cursor: pointer;
            height: 18px;
            width: 18px;
            margin-top: 4px;
            pointer-events: all;
            position: relative;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}
